*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header .navbar{
    background-color: black;
}
.navbar .navbar-brand{
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}
.navbar .navbar-brand:hover{
    color: pink;
}
.navbar-nav .nav-link{
    color: white;
    text-transform: uppercase;
}
.navbar-nav .nav-link:hover{
    color:white;
}
.active{
    color: white;
}

.btn-pink{
    background: pink;

}
/* Services */
.card shadow p{
    font-size: 18px;
    font-weight: 700;
}
/* Testimonial */
.card shadow p{
    font-size: 18px;
    font-weight: 700;
    color: gold;
}

.hover:hover{
    color: chocolate !important;
}
.col-md-3 a {
    color: black;
    text-decoration: none;
}
.col-md-3 a p:hover{
    color: chocolate;
}

.services .hover:hover{
    color: chocolate;
}