*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

header .navbar{
    background-color: black;
}
.navbar .navbar-brand{
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}
.navbar .navbar-brand:hover{
    color: chocolate;
}
.navbar-nav .nav-link{
    color: white;
    text-transform: uppercase;
}
.navbar-nav .nav-link:hover{
    color:white;
}
.active{
    color: chocolate !important;
}

/* Services */
.card shadow p{
    color: black;
    font-size: 18px;
    font-weight: 700;
}
.services{
    text-decoration: none !important;
    color: black !important;
}
.services:hover{
    color: chocolate !important;
}
/* Testimonial */
.card shadow p{
    font-size: 18px;
    font-weight: 700;
    color: gold;
}

.servicecard:hover{
    border-color: whitesmoke !important;
}

.hover:hover{
    color: chocolate !important;
}

.col-md-3 .hover:hover{
    color: chocolate !important;
    text-decoration-line: none;
}
h6{
    color: white;
}
p a{
    color: white;
}
